body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Ensures vertical stacking of all container elements */
  background-image: url("/login-background.jpeg");
  font-family: "TImes New Roman";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 1rem;
}

.title {
  font-size: 2rem;
  margin-left: 10px; /* Space between the logo and the title */
  margin-right: 20px;
  color: white;
}
.heading {
  display: flex; /* Makes the heading a flex container */
  align-items: center; /* Aligns children vertically in the center */
  justify-content: center; /* Centers children horizontally */
  margin-bottom: 20px; /* Space below the heading */
  width: 300px; /* Adjust based on your design requirements */
  padding: 20px;
  text-align: center; /* Centers text inside the container */
}

.logo {
  height: 50px; /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  border: 2px solid #2bd2be;
}

.container {
  box-shadow: rgb(255, 255, 255, 0.1);
  background-color: rgb(225, 225, 225, 0.1);
}

.login-form {
  width: 300px; /* Adjust based on your design requirements */
  padding: 30px;
  text-align: center; /* Centers text inside the container */
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%;
  padding: 8px;
  box-sizing:content-box;
  border-style:inherit;
}

input[type="submit"] {
  transition: box-shadow 0.3s ease;
  transition: background-color 0.5s, transform 0.1s;
  width: 50%;
  margin: auto;
  padding: 8px;
  font-family: "Times New Roman";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: rgba(35, 197, 192, 0.5);
  border-radius: 40px;
  font-size: 1rem;
  color: white;
}
input[type="submit"]:focus {
  outline: none; /* Removes default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Adds a blue glow */
}

input[type="submit"]:active {
  background-color: #004085; /* Even darker shade when active */
  transform: translateY(2px); /* Slightly shifts the button down */
}

input[type="submit"]:hover {
  color: white;
  background-color: #2bd2be;
}

a {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
a:hover {
  color: #2bd2be;
}
a:active {
  color: #004085;
}

.error{
  margin-top: 10px;
}
